<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>       
    </button>
    <ion-title>Outfits</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cartClicked()">
        <ion-icon name="cart"></ion-icon><div class="cart">{{cartItems.length}}</div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item  no-lines *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-thumbnail item-left>
          <img   [src]="item.img">
      </ion-thumbnail>      
      <p item-left><b>{{item.title}}</b><br>${{item.price}}</p>  
      <ion-icon name="cart" item-right (click)="itemCart($event, item)"></ion-icon>
    </button>
  </ion-list>
  <div class="detail" *ngIf="selectedItem" padding-horizontal>   
    <img [src]="selectedItem.img">
    <ion-icon name="cart" (click)="itemCart($event, selectedItem)"></ion-icon>
    <ion-item no-lines>
      <b item-left>{{selectedItem.title}}</b>
      <p item-right>${{selectedItem.price}}</p>
    </ion-item>
    <div padding-horizontal>{{selectedItem.desc}}</div>
  </div>
</ion-content>
