page-outfits {
    .cart {
        margin: -15px 10px;
        position: absolute;
        font-size: 12px;
    }
    .detail {
        ion-icon{
            position: absolute;
            right: 30px;
            top: 30px;
            font-size: 25px;
        }
    }
}
